
// Breakpoints
$breakpoint-mobile: 767px;
$breakpoint-mobile_tablet: 1024px;
$breakpoint-tablet: 1200px;
$breakpoint-desktop: 1600px;

// color
$white:#fff;
$black:#222;
$red:#e42b29;
$orange:#f75757;
$grayblue:#8b95a3;
$lightblue:#057ffc;
$blue:#1465c0;
$skyblue:#078cd8;
$steelblue:#5078a5; 
$mutepurple:#5f5da0;
$navy:#003964;
$yellow:#d58007;
$gray:#777;
$lightgray:#cdd1d5;
$greyish:#adadad;
$green:#4fa93d;
$bggray:#f9fafb;
$bgblue:#E6EFF8;
$border:#e0e0e0;

// layout
$mainwidth:1440px;
$maingap:20px;
$sectiongap:40px;
$defaultFontSize:13px;

